<header class="header">
  <div class="container header__container">
    <a href="#" class="header__logo">
      Ultra<span class="text-accent">CraftX</span>
    </a>

    <nav class="header__nav" id="nav-menu">
      <ul class="header__list">
        <li class="header__item"><a href="#" class="header__link">Главная</a></li>
        <li class="header__item"><a href="#methodology" class="header__link">Методология</a></li>
        <li class="header__item"><a href="#solutions" class="header__link">Решения</a></li>
        <li class="header__item"><a href="#blog" class="header__link">Инсайты</a></li>
        <li class="header__item"><a href="#reviews" class="header__link">Отзывы</a></li>
        <li class="header__item"><a href="#faq" class="header__link">FAQ</a></li>
      </ul>
      <button class="header__close" id="nav-close"><i class="fa-solid fa-xmark"></i></button>
    </nav>

    <div class="header__actions">
      <a href="#contact" class="btn btn--small header__btn">Связаться</a>
      <button class="header__burger" id="nav-toggle">
        <i class="fa-solid fa-bars-staggered"></i>
      </button>
    </div>
  </div>
</header>